*{
    font-family:'Times New Roman', fantasy, sans-serif;
  }
body{
    padding-top: 25px;
    background-image:url("../image/landscape.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
    overflow-x: hidden;
}
.Penguincontainer{
    margin-left:14vw;
    size:auto;
}
.Penguin{
    size: auto;
}
.Penguin img{
    margin:auto;
    display: block;
    transform:scale(1,1);
    transition: all 0.8s ease-out;
}
.Penguin img:hover{
    transform:scale(1.2,1.2);
}
.Listcontainer{
    max-width: 14vw;
    max-height: 80vw;
}
.List{
    background-color: #cccccc;
    position:fixed;
    top:0;
    left:0;
    width:14vw;
    height:100vh;
}
.user{
    background-color:aqua;
}
.user p{
    font-size: 30px;
}
.user img{
    width: 75px;
    height:auto;
    float:left;
    max-width:75px;
}
.data{
    margin:auto;
}
@media screen and (max-height: 1200px) {
    table,
    td {
        margin:auto;
        font-size: medium;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
.content{
    font-size: medium;
}
}
@media screen and (max-height: 800px) {
    table,
    td {
        margin:auto;
        font-size: smaller;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
.content{
    font-size:smaller
}
}
@media screen and (max-height: 600px) {
    table,
    td {
        margin:auto;
        font-size: 6px;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
.content{
    font-size: 6px;
}
}
.stats img{
    margin: auto;
    padding: 5%;
    display: block;
    height: 100%;
    width: auto;
    max-width:12vw;
}
.artcontainer{
    margin-left:14vw;
}
.art{
    display:block;
    margin:auto;
    max-width:800px;
}
.art h2{
    font-size: 2vw;
}
.content{
    padding: 2vw;
    background-color:#4d80b3;
    border: 3px;
}
.content img{
    width:20%;
    height: auto;
    float: right;
}
@media (max-width:) {
    
}
.feet{
    width:100%;
    bottom: 0%;
    mix-blend-mode: multiply;
    position: fixed;
    margin:auto;
}
.feet img{
    width:4vw;
    height: auto;
    transform:scale(1,1);
    transition: all 0.5s ease-out;
}
.feet img:hover{
    transform:scale(1.2,1.2);
}
.back img{
    right:3vw;
    bottom: 5vh;
    position: fixed;
    mix-blend-mode: multiply;
    display: scroll;
    width:5vh;
    height: 5vh;
    transform:scale(1,1);
    transition: all 0.2s ease-out;
}
.back img:hover{
    transform:scale(1.5,1.5);
}