.back{
  padding-top: 100px;
  width:100%;
  background-image:url("https://images5.alphacoders.com/700/700049.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: right top;
}
.Penguin{
    margin-left: 40%;
    width:50%;
    height:30%;
}
.title{
    margin-top: 120px;
    text-align: center;
    font-size:30px;
    font-family:微軟正黑體;
    padding:20px;
    margin-left:30%;
    margin-right:20%;
    color:aqua;
}