*{
  font-family:'Times New Roman', fantasy, sans-serif;
}
.back{
  padding-top: 100px;
  background-image:url("landscape.png");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;
  overflow-x: hidden;
}
.Penguin{
    margin-left: 40%;
    width:50%;
    height:30%;
}
.title{
    text-align: center;
    font-size:30px;
    padding:20px;
    margin-left:30%;
    margin-right:20%;
    color:black;
}
.list{
  margin-left:15%;
  font-size:20px;
  color:black;
}
.footer{
  width:120%;
  overflow-x:hidden;
}